@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  background-size: cover;
}

/* base styles & title */
body {
  font-family: "poppins";
  color: var(--secondary);
  height: 100px;
}

.App {
  max-width: 60%;
  margin: 0 auto;
}


.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/*Progress bar styles */
.progress-bar {
  height: 5px;
  background-color: var(--primary);
  margin-top: 20px;
}

/* upload form styles */


.leaveMark {
  display: inline;
}


form {
  margin: 30px auto 10px;
  text-align: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

/* label {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
} */

/* label:hover {
  background: var(--primary);
  color: white;
} */


.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}



/* progress bar styles */


/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  opacity: 0.8;
}

.BookCard {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
.img-wrap div {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
 
} */

/* .img-wrap  img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.img-grid div {
  background-color: rgb(207, 229, 250);
}

/* 
.img-grid div p {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
} */


#PhotoImage:hover {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.scroll {
  min-width: 2000px;
  max-width: 1000px;

  padding-top: 50px;
  margin: 4px, 4px;
  padding: 4px;
  background-color: rgb(245, 241, 241);
  height: 1000px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.uploadForm {
  padding: 1px 20% 1% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.uploadForm > *{
  margin-top: 10px;
}

.modal img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}


.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modalWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  max-height: 20%;
  transition: 1s;

}

.modalWrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);

  /* margin: 60px 60px 10px 60px; */
  border: 3px solid white;
  margin-bottom: 10px;
}

.inputStoryDiv {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputStoryDiv input {
  margin: 10px;
  display: flex;
}

/*personal*/
.inputStoryDiv .filterField {
  background-color: rgba(134, 233, 233, 0.527);
  border-radius: 10px;
  text-align: center;
  padding: 7px;
  color: #2f62af;

}

.inputStoryDiv h3 {
  text-align: center;
}

.title_h1 {
  padding: 30px;
  background-color: rgba(199, 228, 235, 0.938);
  color: rgb(255, 255, 255)
}

.title img {
  max-width: 100%;
}

.Stack {
  display: block;
  padding: 5px 20px;
  margin: 2% 18%;

}

.grid {
  padding: 1px 20% 1% 20%;

}


/* .Navbar {
  margin: 0% 35%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: sticky;
  top: 0;
  height: 400px;
  z-index: 1;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  background-color: #efb6b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 20px;
} */

.userCard {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  margin: 2% 0;

  background-color: #DEE2E5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.userCard:hover {
  background-color: #e4e4e4;
}

.delete:hover {
  border-radius: 20px;
  background-color: #f5a0a0;
}

.flexBox{
  display: flex;
  justify-content: space-between;
}

input[type="text"]:focus {
  background-color: rgb(223, 233, 238);
  transition: 0.3s;
}

.pageContainer{
  display: flex;
  flex-direction: row;
  
}

.Navbar {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 20px;
  background: linear-gradient(113.49deg, #ff7b00 -30.3%, #f8c1a8 58.12%);
  max-width: 400px;
  transition: 0.3s;
  opacity: 0.05;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  position: sticky;
  height: 100%;
  z-index: 1;
  
}

.Navbar:hover{
  opacity: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.Navbar .div{
  max-width: 50%;
  flex: 1;
}

.Navbar h3{
  color: aliceblue;
  font-family: 'Poppins';
  font-weight: 1000;


}



.ss{
  flex:3;
}
